.form_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-around;
	padding: 2% 0 6.5% 0;
	margin-top: 5%;
}
.form_buy_button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 5%;
	margin-bottom: 2%;
}
.form_buy_button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 5%;
	margin-bottom: 2%;
}
.form_cost {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-right: 4%;
	margin-bottom: 2%;
}
@media (max-width: 767px) {
	.form_cost p b {
		font-size: 16px;
	}
}